.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: $white;

  .home-title {
    text-align: end;
    line-height: 0.3;

    #orange {
      color: $orange;
    }
  }
}


