.me-page-wrapper {
  margin: 10rem 8rem 2rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35%;
    margin-right: 2rem;
    border: 1px solid $white;
  }

  .description {
    max-width: 490px;
    color: $white;

    p {
      text-align: justify;
    }

    h3 {
      line-height: 1;
    }
  }
}

@media only screen and (max-width: 750px) {
  .me-page-wrapper {
    flex-direction: column;
    margin: 10rem 0 2rem 0;

    img {
      width: 300px;
      margin: 0;
    }

    .description {
      text-align: center;
      width: 86%;
    }
  }

}
