<div class="contact-page-wrapper">
  <h2>Une question ? Besoin d'un devis ?</h2>

  <div class="mail">
    <h4>Par mail:</h4>
    <p>adrien-barbier@hotmail.fr</p>
  </div>

  <div class="phone">
    <h4>Par téléphone:</h4>
    <p>06 79 09 38 18</p>
  </div>
</div>
