<div class="home-wrapper">
  <div class="home-title">
    <h1>Développeur</h1>
    <h1 id="orange">web</h1>
  </div>
  <div class="sentences">
    <p>Spécialisé dans le développement de site internet et d'application web sur-mesure</p>
  </div>
</div>
