<div class="home-wrapper">
  <div class="home-title">
    <h1>Développeur</h1>
    <h1 id="orange">web</h1>
  </div>
  <div class="content">
    <div class="content__container">
      <ul class="content__container__list">
        <li class="content__container__list__item">Spécialisé dans le développement de site internet sur-mesure</li>
        <li class="content__container__list__item">Capable de développer des applications web</li>
        <li class="content__container__list__item">Qui vous guide et vous accompagne dans vos choix</li>
        <li class="content__container__list__item">Qui s'adapte rapidement et aime le challenge</li>
      </ul>
    </div>
  </div>
</div>


