<div class="me-page-wrapper">
  <%= image_tag "photo1.jpg" %>
  <div class="description">
    <h3>Adrien Barbier</h3>
    <p>Après un passage dans l’industrie en tant qu’ingénieur projet, et plusieurs expériences entrepreneurial, j’ai décidé de me lancer dans le développement web. Pourquoi ? Le web c’est quand même beaucoup plus fun ! Et il n’y a aucune limite à ce que l’ont peut developper !</p>
    <p>J’ai pour passion de donner vie à vos envies, que se soit en solo ou en équipe. Ouvert à tout nouveau challenge, je suis à l’écoute pour discuter de la manière dont je peux être utile à votre projet !
Préparez-vous à transformer vos idées en réalité !</p>
  </div>

</div>
