<div class="me-page-wrapper">
  <%= image_tag "photo1.jpg" %>
  <div class="description">
    <h3>Adrien Barbier</h3>
    <p>Après un passage dans l’industrie en tant qu’ingénieur projet, et quelques expériences entrepreneurial, j’ai décidé de me lancer dans le développement web. Pourquoi ce changement de carrière ? Le web est quand même beaucoup plus fun que l’industrie ! Et en plus, il n’y a aucune limite à ce que l’ont peut developper !</p>
    <p>Passionné et toujours partant pour de nouveaux challenges. Je prend à coeur joie d’écouter vos projets, et de vous accompagner dans sa réalisation.</p>
  </div>

</div>
