<div class="me-page-wrapper">
  <%= image_tag "photo1.jpg" %>
  <div class="description">
    <h3>Adrien Barbier</h3>
    <p>Autodidacte et passionné par les métiers de la tech, j’ai d’abord acquis un diplôme d’ingénieur, pour ensuite refaire une formation et me spécialiser dans le développement d’application web.</p>
  </div>

</div>
