<div class="service-page-wrapper">

  <div class="service">
    <div class="description">
      <h2>1. Conception</h2>
      <p>La conception d’un produit est une étape primordiale. Elle permet de poser des bases solides, et d’anticiper au maximum les possibles futurs aléas du projet. C’est à cette étape qu’il faut se poser un maximum de questions afin de pouvoir cibler l’utilisateur, et développer une application ergonomique, intuitive, sur laquelle il pourra trouver rapidement l’information qu’il cherche.</p>
    </div>
    <%= image_tag "conception.svg" %>
  </div>

  <div class="line"></div>

  <div class="service" id="right">
    <%= image_tag "design.svg" %>
    <div class="description">
      <h2>2. Design</h2>
      <p>Le design est la première interaction avec l’utilisateur, il doit donc être adapté et soigné pour que l’expérience utilisateur soit la meilleure possible. C’est aussi ce qui va vous différencier de vos concurrents, c’est en quelque sorte votre image de marque.</p>
    </div>
  </div>

  <div class="line" id="right"></div>

  <div class="service">
    <div class="description">
      <h2>3. Développement</h2>
      <p>C’est à cette étape que le projet prend forme. Je m’adapte le plus possible à vos besoins en utilisant les technologies qui correspondent le mieux à vos projets. Le but étant de développer une application web ou un site internet facile d’utilisation pour vos utilisateurs comme pour vous !</p>
    </div>
    <%= image_tag "developpement.svg" %>
  </div>


</div>
