.nav-bar-wrapper {
  height: 56px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $black;
  z-index: 10;
}

.nav-bar {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  h4 {
    line-height: 0;
    color: $white;
  }

  h4::first-letter {
    color: $orange;
  }

  .nav-link {
    width: 396px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $white;
      font-weight: bold;
      -webkit-transition: all 0.6s;

    }

    a:hover {
      color: $orange;
    }
  }

  .social-link {
    width: 106px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $orange;
      font-size: 18px;
      -webkit-transition: all 0.6s;
    }

    a:hover {
      color: $white;
    }
  }
}

@media only screen and (max-width: 750px) {

  .nav-bar-wrapper {
    height: 126px;

    .nav-bar {
      flex-direction: column;

    }

    .social-link {
      margin-top: 1rem;
    }


  }
}

@media only screen and (max-width: 450px) {

  .nav-bar-wrapper {

    .nav-bar {
      flex-direction: column;
      margin: 0 0.5rem;
    }

    .nav-link {
      width: 98%;
    }
  }

}
