/*
 *= require_self
 */



@import "config/colors";
@import "config/fonts";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "pages/index";
@import "components/index";


body {
  margin: 0;
  background-color: $black;

  .layout {
    margin: 4rem 1rem 0 1rem;
  }

  p {
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}


